.particles-js{
    background-color: #476072;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .content{
        width: 94%;
        height: auto;
        position: absolute;
        background-color: #334257;
        // box-shadow: 2px 2px 1px #888888;
        padding: 1rem;
        opacity: .96;
        border-radius: 2rem;
        a{
            background-color: chocolate;
            padding: .7rem 1rem;
            transition: all 0.5s;
            &:hover{
                background-color: #476072;
            }
        }
        @media (min-width: 768px) {
            // background-color: blueviolet;
            width: 80%;
        }
        @media (min-width: 1024px) {
            width: 55%;
            // background-color: salmon;
        }
    }
}
// .content{
//     width: 90%;
//     max-width: 1200px;
//     background-color: salmon;
//     border-radius: 2rem;
//     margin-left: auto;
//     margin-right: auto;
//     position: relative;
//     margin-top: 15px;
//     z-index: 99;
// }