.particles-js {
  background-color: #476072;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.particles-js .content {
  width: 94%;
  height: auto;
  position: absolute;
  background-color: #334257;
  padding: 1rem;
  opacity: 0.96;
  border-radius: 2rem;
}
.particles-js .content a {
  background-color: chocolate;
  padding: 0.7rem 1rem;
  transition: all 0.5s;
}
.particles-js .content a:hover {
  background-color: #476072;
}
@media (min-width: 768px) {
  .particles-js .content {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .particles-js .content {
    width: 55%;
  }
}
